/* BODY */
*{
    box-sizing: border-box;
}
#body{
    max-width: 1400px;
    margin: auto;
    color: white;
}

/* HEADER */

     header{
         background-color: rgba(194, 166, 42, 0.37);
         height: 45px;
     }

/* NAV */

     nav{
        background-color: rgba(78, 49, 10, 0.479);
        height: 45px;
     }

/* MAIN */
     
#main{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    min-height: 200px;
    background-color: rgba(127, 255, 212, 0.486);
}
     main{
        /* display: flex;
        flex-wrap: wrap;
        padding: 5px;
        min-height: 200px;
        background-color: rgba(127, 255, 212, 0.486); */
        /* justify-content: flex-start; */
     }
     section{
        display: flex;
        flex-wrap: wrap;
              border: 1px solid white;
        width: 50%;
        /* height: 50%; */
  

    }
     section > div{
        width: 50%;
        height: 50%;
        border: 1px solid white;
     }
     .section1 > div {
        background-color: rgba(94, 222, 245, 0.575);
     }
     .section2 > div {
        background-color: rgba(150, 114, 250, 0.575);
     }
     .section3 > div {
        background-color: rgba(236, 250, 114, 0.575);
     }
     .section4 > div {
        background-color: rgba(173, 55, 41, 0.575);
     }
/* FOOTER */

     footer{
        background-color: rgb(92, 28, 153);
        height: 50px;
     }

     @media ( max-width:1399.98px){
        #body{
            max-width:60%;
        }
    }
    @media (max-width:960px){
        #body{
            max-width:75%;
        }
        section{
            width: 100%;
        }
    }
    @media (max-width:560px){
        #body{
            max-width:100%;
        }
    }